<html>
  <body >
    
      <div class="carousel">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators" d>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div>
            <div class="carousel-inner" ata-bs-interval="10">
              <div class="carousel-item active">
                <img src="assets\pic1.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                  <div class="hl"></div>
                  <h2 class="float-right">Get the body you want.</h2>
                  <p class="float-right">
                    Make yourself stronger than your excuses.
                  </p>
                  <div class="buttonss">
                    <button class="btn btn-warning" onclick="location.href = '/trainer'">SEE OUR TRAINERS</button>
                  </div>
                </div>
              </div>
              <div class="carousel-item" ata-bs-interval="10">
                <img src="assets\pic2.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block flex">
                  <div class="hl"></div>
                  <h2 class="float-right">Make yourself proud.</h2>
                  <p class="float-right">The only bad workout is no workout.</p>
                  <div class="buttonss">
                    <button class="btn btn-warning" onclick="location.href = '/products/treadmills'">SEE OUR PRODUCTS</button>
                  </div>
                </div>
              </div>
              <div class="carousel-item" ata-bs-interval="10">
                <img src="assets\pic3.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                  <div class="hl"></div>
                  <h2 class="float-right">Hustle for the muscle.</h2>
                  <p class="float-right">Every day is a choice.</p>
                  <div class="buttonss">
                    <button class="btn btn-warning" onclick="location.href = '/signup';">JOIN US TODAY</button>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="vl"></div>
     
      
      <div id="welcomeScreen" class="welcome-screen">
        <div class="welcome-content">
        <button id="close " onclick="closeWelcomeScreen()">&times;</button>
        <h2>Real Fitness</h2>
        <h4>Welcome to Real Fitness</h4>
        <a href="/signup">Join Us Today</a>
      </div>
      </div>
      <div class="aboutt">
        <figure class="figure">
          <div class="abouttt">
            <div class="imgss">
              <img
                src="assets\equipment.jpg"
                class="figure-img img-fluid rounded"
                alt="..."
                wi
              />
            </div>
            <div class="txts">
              <h2>Equipment</h2>
              <p>
                At Real Fitness, we are dedicated to transforming your fitness
                aspirations into reality. Our range of fitness equipment is
                meticulously designed to cater to all your exercise needs,
                whether you’re a beginner or a seasoned athlete. From treadmills
                that propel you towards your cardio goals to weightlifting
                apparatus that build strength, our high-quality products ensure
                a holistic workout experience. Join us on the path to a
                healthier lifestyle, backed by the reliability of Real Fitness.
              </p>
            </div>
          </div>
        </figure>
        <figure class="figure">
          <div class="abouttt">
            <div class="txts">
              <h2>Community Cares</h2>
              <p>
                Welcome to our vibrant gym community, where support is the
                foundation of our fitness journey. Join us to experience a
                welcoming atmosphere filled with like-minded individuals. Our
                monthly challenges keep you motivated and striving for your
                goals, while our online platforms proudly showcase your
                transformation to inspire others.
              </p>
            </div>
            <div class="imgss">
              <img
                src="assets\community.jpg"
                class="figure-img img-fluid rounded"
                alt="..."
                wi
              />
            </div>
          </div>
        </figure>

        <figure class="figure">
          <div class="abouttt">
            <div class="imgss">
              <img
                src="assets\trainers.jpg"
                class="figure-img img-fluid rounded"
                alt="..."
                wi
              />
            </div>
            <div class="txts">
              <h2>Personal Training At Its Best</h2>
              <p>
                Our personalized training program is designed to help you
                achieve your fitness goals efficiently. Our expert trainers not
                only guide you through effective workouts but also provide
                tailored diet charts to optimize your progress. Attain your
                fitness potential with our transformative program. Start your
                journey today.
              </p>
            </div>
          </div>
        </figure>
        <figure class="figure">
          <div class="abouttt">
            <div class="txts">
              <h2>Our Amenities</h2>
              <p>
                Experience a gym like no other with our top-notch amenities.
                Store your belongings in secure lockers, then unwind in our
                pool, jacuzzi, and sauna. Treat yourself to a rejuvenating
                massage at our spa or grab a healthy refreshment at our health
                bar. Our well-maintained shower facilities ensure you leave
                feeling refreshed and ready to conquer the day. Discover the
                perfect balance of fitness and relaxation at Real Fitness.
              </p>
            </div>
            <div class="imgss">
              <img
                src="assets\amenities.png"
                class="figure-img img-fluid rounded"
                alt="..."
                wi
              />
            </div>
          </div>
        </figure>
      </div>
      <div class="vl"></div>
      <div class="process container-fluid">
        <h3>Our Process</h3>
        <div class="steps col-12">
          <div class="goal border col-3">
            <i class="fa-solid fa-bullseye"></i>
            <p>Analyze Your Goals</p>
          </div>
          <div class="work border col-3">
            <i class="fa-solid fa-flask"></i>
            <p>Work Hard On It</p>
          </div>
          <div class="improve border col-3">
            <i class="fa-solid fa-compass"></i>
            <p>Improve Yourself</p>
          </div>
          <div class="acheive border col-3">
            <i class="fa-regular fa-gem"></i>
            <p>Acheive Goals</p>
          </div>
        </div>
      </div>
      <div class="vl"></div>
      <div class="right">
        <h2>GET OUT OF YOUR</h2>
        <h1>
          <b>COMFORT ZONE</b>
        </h1>
        <p>
          Success usually comes to those who are too busy to be looking for it.
          <br />
          The body achieves what the mind believes.
        </p>
        <button type="button" class="btn btn-warning" onclick="location.href = '/signup';">JOIN US TODAY</button>
      </div>

      <div class="vl height"></div>
      <div class="vl"></div>  
      <div class="vl"></div>  
      <div class="vl"></div> 
    </div>
  </body>
  <script>
    // Add this script to show the welcome screen on page load
document.addEventListener("DOMContentLoaded", function () {
  setTimeout(function () {
    showWelcomeScreen();
  }, 500); // Adjust the delay as needed (in milliseconds)
});

function showWelcomeScreen() {
  var welcomeScreen = document.getElementById("welcomeScreen");
  welcomeScreen.style.display = "flex";
}

function closeWelcomeScreen() {
  var welcomeScreen = document.getElementById("welcomeScreen");
  welcomeScreen.style.display = "none";
}

  </script>
 
  <script src="/js/myscript.js"></script>
  </html>