<h1 class="centersh">Our <span class="train">Pricing</span> </h1>
<div class="pricing">

    
    <!-- <h2 > <u>Our Pricing </u></h2> -->
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Monthly</h4>
          </div>
          <div class="card-body cardpri cardsp">
            <h1 class="card-title pricing-card-title">
              Rs 5,000<small class="small"
                >/mo</small
              >
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa-regular fa-circle-check"></i>Awesome Community</li>
              <li><i class="fa-regular fa-circle-check"></i>Personal Fitness Program</li>
              <li><i class="fa-regular fa-circle-check"></i>Nutrition Check-in</li>
              <li><i class="fa-regular fa-circle-check"></i>Great Coaching</li>
              <li><i class="fa-regular fa-circle-check"></i>Free Trial Class</li>
              <li><i class="fa-regular fa-circle-check"></i>Car Parking</li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Quarterly</h4>
          </div>
          <div class="card-body cardpri">
            <h1 class="card-title pricing-card-title">
              Rs 18,000<small class="small"
                >/qr</small
              >
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa-regular fa-circle-check"></i>Awesome Community</li>
              <li><i class="fa-regular fa-circle-check"></i>Personal Fitness Program</li>
              <li><i class="fa-regular fa-circle-check"></i>Nutrition Check-in</li>
              <li><i class="fa-regular fa-circle-check"></i>Great Coaching</li>
              <li><i class="fa-regular fa-circle-check"></i>Swimming Pool, Sauna & Car Parking</li>
              <li><i class="fa-regular fa-circle-check"></i>Sauna & Car Parking</li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Yearly</h4>
          </div>
          <div class="card-body cardpri">
            <h1 class="card-title pricing-card-title">
              Rs 50,000<small class=" small"
                >/yr</small
              >
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa-regular fa-circle-check"></i>Awesome Community</li>
              <li><i class="fa-regular fa-circle-check"></i>Personal Fitness Program</li>
              <li><i class="fa-regular fa-circle-check"></i>Nutrition Check-in</li>
              <li><i class="fa-regular fa-circle-check"></i>Great Coaching</li>
              <li><i class="fa-regular fa-circle-check"></i>Swimming Pool & Jacuzzi</li>
              <li><i class="fa-regular fa-circle-check"></i>Sauna, Mini Bar & Lockers</li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <button type="button" class=" btn  btn-primary" onclick="location.href = '/signup';">
        Join Us Today
      </button>
    </div>
   
  </div>
 
  <div class="vl"></div>