
<h1 class="centersh">Our <span class="train">Trainers</span> </h1>
<div class="flex1">
<div class="card mb-3" style="max-width: 580px;">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="/assets/trainer1.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title names">Gai Cheng</h5>
          <ul class="qualities">
            <li><i class="fa-regular fa-circle-check"></i>NASM Certified</li>
            <li><i class="fa-regular fa-circle-check"></i>Certified Personal Trainer</li>
            <li><i class="fa-regular fa-circle-check"></i>Hypertrophy Programming</li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="card mb-3" style="max-width: 580px;">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="/assets/trainer2.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          
          <h5 class="card-title names">Joash Choo</h5>
          <ul class="qualities">
            <li><i class="fa-regular fa-circle-check"></i>Resistant Training Specialist(RTS)</li>
            <li><i class="fa-regular fa-circle-check"></i>Body Transformation Specialist</li>
            <li><i class="fa-regular fa-circle-check"></i>Multiple NABBA WFF Winner </li>
            
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="flex1">
<div class="card mb-3" style="max-width: 580px;">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="/assets/trainer3.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title names">Romeo</h5>
          <ul class="qualities">
            <li><i class="fa-regular fa-circle-check"></i>NASM Certified</li>
            <li><i class="fa-regular fa-circle-check"></i>Rehabilitation Exercise</li>
            <li><i class="fa-regular fa-circle-check"></i>Calisthenic</li>
            <li><i class="fa-regular fa-circle-check"></i>Hypertrophy Programming</li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="card mb-3" style="max-width: 580px;">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="/assets/trainer4.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title names">Kery Ng</h5>
          <ul class="qualities">
            <li><i class="fa-regular fa-circle-check"></i>(FEA) Certified Fitness Practitioner</li>
            <li><i class="fa-regular fa-circle-check"></i>CPR & Basic Life Support Certified</li>
            <li><i class="fa-regular fa-circle-check"></i>WFF Model Competitor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="flex1">
<div class="card mb-3" style="max-width: 580px;">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="/assets/trainer5.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title names">Chris</h5>
          <ul class="qualities">
            <li><i class="fa-regular fa-circle-check"></i>5 Years Coaching Experience</li>
            <li><i class="fa-regular fa-circle-check"></i>Hypertrophy Programming</li>
            <li><i class="fa-regular fa-circle-check"></i>Calisthenic</li>
            <li><i class="fa-regular fa-circle-check"></i>Rehabilitation Exercise</li>
            
            
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="card mb-3" style="max-width: 580px;">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="/assets/trainer6.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title names">Dion</h5>
          <ul class="qualities">
            <li><i class="fa-regular fa-circle-check"></i>NASM Certified</li>
            
            <li><i class="fa-regular fa-circle-check"></i>Hypertrophy Programming</li>
            
           
            <li><i class="fa-regular fa-circle-check"></i>CPR & Basic Life Support Certified</li>
            <li><i class="fa-regular fa-circle-check"></i>WFF Model Competitor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="center1">
  <button type="button" class=" btn  btn-primary" onclick="location.href = '/signup';">
    Join Us Today
  </button>
</div>

<div class="vl"></div>