* {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar {
  background-color: black;
  color: white;
}
body{
  background-color: black;
  color: white;
}
/* img {
  height: 40rem;
} */
.aboutt {
  padding-top: 1 rem;
  padding-bottom: rem;
  --dot-bg: black;
  --dot-color: #716644;
  padding-right: 1rem;
  padding-left: 1rem;
  --dot-size: 3px;
  padding-top: 2rem;
  --dot-space: 35px;
  color: white;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  background-attachment: fixed;
  
}
.txts{
    align-items: center;
    text-align: center;
    margin-top: 6%;
}
.abouttt{
    display: flex;
}

.about1{
    display: flex;
    overflow: none;
    height: fit-content;
    /* flex-wrap: wrap; */
}

.footer i {
  font-size: 150%;
  margin-right: 1rem;
  background-color: black;
  color: rgb(252, 252, 93);
}
.times h2 {
  text-align: center;
}
.vl {
  border-top: 5px solid yellow;
  width: 98.7vw;
  overflow: none;
}
nav {
  opacity: 0.9;
  
}
.img {
  height: 3.5rem;
  width: 4.2rem;
  margin-right: 10px;
  filter: invert(100%);
}
.footer h4 {
  background-color: yellow;
  color: black;
}

.reasons {
  margin-left: 10%;
  margin-top: 2%;
  background-color: black;
  border-radius: 8%;
  box-shadow: 0px 0px 5px 6px #202020;



  margin-right: 5%;
}
.reasons:hover {
  box-shadow: 0px 0px 5px 6px #969595;
  background-color: white;
  color: black;
}
.reasons h2 {
  align-items: center;
  text-align: center;
}
.process {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 2%;
}

.process h3 {
  padding-top: 3%;
  margin-bottom: 3%;
  flex-wrap: wrap;
}
.steps {
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 5%; */
  margin-top: 2%;
  flex-grow: inherit;
  flex-shrink: inherit;
  flex-wrap: wrap;
  /* height: 10rem; */
  overflow: none;
  clear: left;
}
.process1 {
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 5%; */
  background-image: url("process1back\ .jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 3%;
  height: auto;
  padding-bottom: 3%;
  flex-grow: inherit;
  flex-shrink: inherit;
  flex-wrap: wrap;
  /* height: 10rem; */
  /* overflow: none;
    clear: left; */
  /* background-color: black; */
  color: white;
  min-height: 100vh;
}

.border {
  height: 10rem;
  width: 10rem;
  border: 20px solid red;
  /* box-shadow: 5px 6px #7e7e7e; */
}
.border:hover {
  box-shadow: 0px 0px 5px 6px #7e7e7e;
  font-size: large;
}

.steps i {
  background-color: #ffc107;
  border: 20px solid #ffc107;
  border-radius: 50%;
  font-size: 250%;
  margin-top: 10%;
}
.steps p {
  margin-top: 7%;
}
.right {
  font-family: "Josefin Slab";
  /* min-height: 100vh; */
  overflow: none;
}

.right h2 {
  color: white;
  float: right;
  margin-right: 3%;
  margin-top: 19rem;
  font-size: 200%;
}
.right h1 {
  color: yellow;
  float: right;
  clear: right;
  margin-right: 2%;
  justify-content: last baseline;
  /* overflow: none; */
  font-size: 300%;
}
.right p {
  color: white;
  float: right;
  clear: right;
  margin-right: 6%;
  font-size: 120%;
}
.right button {
  color: white;
  float: right;
  clear: right;
  margin-right: 6%;
  font-size: 120%;
}

.right {
  float: right;
  background-color: black;
  width: 100%;
  background-image: url("assets/comfortzone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  /* height: fit-content; */
  overflow: none;
  position: static;
  padding-bottom: 4.3rem;
  background-attachment: fixed;
  overflow: none;
}
.right1 {
  background-color: black;
  width: 100%;
  background-image: url("offerback2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  display: flex;
  height: fit-content;
  overflow: none;
  position: static;
  padding-bottom: 4rem;
  background-attachment: fixed;
  min-height: 100vh;
}

.height {
  margin-top: 37.3rem;
  overflow: none;
}
.form {
  background-color: black;
  opacity: 0.92;
  color: white;
  float: right;
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 3%;

  margin-top: 0%;
  margin-right: 5%;
  margin-left: 50rem;
}
.right1 span {
  float: left;
  font-size: x-large;
  margin-top: 2rem;
}
.mamarginforbutton {
  margin-left: 2rem;
}
.footer {
  background-color: black;
  color: white;
  padding-bottom: 2rem;
}
.form div {
  opacity: 1;
}
.form button {
  float: right;
}

.form-control {
  background-color: rgb(107, 106, 106);
}
.form button {
  color: white;
}
.text {
  position: absolute;
  z-index: -10;
}
.text h2 {
  margin-top: 5rem;
  color: white;
  font-weight: bolder;
  margin-left: 1rem;
  background-color: yellow;
}
.text p {
  margin-top: 2rem;
  color: white;
  align-items: flex-start;
  background-color: yellow;
  /* max-width: 30rem */
}
.pricing {
  min-height: 100vh;

  background-image: url("assets/pricingback\ \(2\).jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 2%;
  padding-left: 2%;

}
.price {
  display: flex;
 
 
}

/* */
.carousel-caption {
  float: right;
}
.float-right {
  float: right;
  clear: both;
  background-color: rgb(57, 57, 52);
}
.carousel-item p {
  font-size: 2rem;
  margin-right: 1.875rem;
}
.carousel-item h2 {
  font-size: 2.5rem;
  margin-right: 3.125rem;
}

.carousel-item button {
  font-size: 1.2rem;
  color: white;
  margin-right: 3.125rem;
}
.buttonss {
  display: flex;
  clear: both;
  float: right;
}
.hl {
  border-left: 10px solid #ffc107;
  height: 30vh;
  float: right;

  margin-bottom: -10.8rem;
  clear: both;
}
.flex {
  display: flex;
}

.imgss{
    min-height: 40%;
    min-width: 40%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    
    
}
.pricing h2{
    color: black;
    justify-content: center;
    padding-top: 3rem;
    
    padding-bottom: 1rem;
    text-align: center;
}
.pricing{
  padding-top: 6rem;
}
.pricing button{
    background-color: #ffc107;
    color: white;
    border: none;
}
.pricing h1{
    padding-bottom: 2.5rem;
}

.footer button{
  background-color: #ffc107;
  color: white;
}
.whats-app {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 38px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
 
  left: 15px;
  z-index: 100;
}

.my-float {
  margin-top: 10px;
}


.popup{
background-color: white;
color: black;
/* border: 4px solid #ffc107; */
width: 420px;
padding: 30px 40px;
position: fixed;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
border-radius: 13px;
z-index: 1000;
font-family: "Josefin Slab" ;
display: none; 
text-align: center;

}
.popup button{
display: block;
margin:  0 0 20px auto;
background-color: transparent;
font-size: 30px;
justify-content: center;
align-items: center;
color: black;
/* background: #ffc107; */
border-radius: 100%;
width: 40px;
height: 40px;
border: none;
text-align: center;
/* outline: none; */
cursor: pointer;
}
.popup h2{
margin-top: -20px;
}
.popup p{
font-size: 14px;
text-align: justify;
margin: 20px 0;
line-height: 25px;
}
.popup a{
display: block;
width: 150px;
position: relative;
margin: 10px auto;
text-align: center;
background-color: #ffc107;
border-radius: 20px;
color: white;
text-decoration: none;
padding: 8px 0;
}
form a{
  margin-right: 4%;
  justify-content: center;
 
  margin-top: 0.3rem;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ffc107; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myform{
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
}
input{
  justify-content: center;
}
label{
  display: block;
}
.signb button{
  margin-top: 15px;
 
}
.signb{
  color: #ffc107;
  background-color: #ffc107;
}
#myform .error {
  color: #ff0000;
  /* border: 1px solid red; */
  
}
#myform {
 
  border-radius: 4px;
}
#myform label,
#myform input,
#myform button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
#myform input{
 min-height: 2rem;
}
#myform input {
  height: 25px;
  line-height: 25px;
  background: #202020;
  color: white;
  padding: 0 6px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 3px;
}

#myform button {
  height: 30px;
  line-height: 30px;
  background: #ffc107;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1.5rem;
  cursor: pointer;
}
.containersign{
 margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  
 
}
.membership{
  min-height: 100vh;
  background-image: url("assets/membership.jpg ");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}
.membership h1{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 23%;
}
.elements{
  margin-top: 2%
}
.branches{
  background-color: black;
  color: white;
  padding: 3px;
 
}
.elements1{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

;